<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let data of try">
        <td>{{data.id}}</td>
        <td>{{data.titleOfBook}}</td>
        <td>{{data.author}}</td>
        <td>{{data.genre}}</td>
        <td>{{data.datePublished}}</td>
        <td>{{data.description}}</td>
      </tr>
    </tbody>
  </table>